@import url('/assets/reset.css');
@import url('/assets/iconfont.css');
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content img {
  width: 200px;
  height: 120px;
}
.content p {
  margin: 16px 0;
}
.fixed {
  position: absolute;
  left: 10px;
  top: 10px;
}
.fixed i {
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}
.menu {
  position: fixed;
  left: -100%;
  top: 0;
  height: 100vh;
  transition: left 0.5s;
}
.menu.show {
  left: 0;
}
.menu.show.menu-1 {
  transition-delay: 0s;
}
.menu.show.menu-2 {
  transition-delay: 0.2s;
}
.menu.show.menu-3 {
  transition-delay: 0.4s;
}
.menu.menu-1 {
  width: 480px;
  background-color: #000;
  transition-delay: 0.4s;
}
.menu.menu-2 {
  width: 456px;
  background-color: red;
  transition-delay: 0.2s;
}
.menu.menu-3 {
  width: 433px;
  background-color: #fff;
  padding: 40px;
  transition-delay: 0s;
}
.menu.menu-3 .close {
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}
.menu.menu-3 .close i {
  font-size: 20px;
  color: #b2b2b2;
  font-weight: bolder;
}
.menu.menu-3 .logo {
  width: 200px;
  height: 120px;
}
.menu.menu-3 .logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.menu.menu-3 nav ul {
  list-style-type: none;
}
.menu.menu-3 nav ul li {
  margin: 20px 0;
}
.menu.menu-3 nav ul li ul {
  padding-left: 20px;
}
.menu.menu-3 nav ul li a {
  text-decoration: none;
  color: #221f1f;
  font-size: 14px;
  text-transform: uppercase;
}
.menu.menu-3 nav ul li a:hover {
  color: red;
}
