@import url('/assets/reset.css');
:root {
  --primary-color: steelblue;
}
body {
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawing-board {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}
.drawing-board #canvas {
  border: 2px solid var(--primary-color);
}
.drawing-board .utools {
  width: 800px;
  height: 90px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.drawing-board .utools button {
  width: 50px;
  height: 50px;
  display: flex;
  background-color: #fff;
  margin: 4px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}
.drawing-board .utools button input {
  width: 40px;
  height: 40px;
  border: none;
}
.drawing-board .utools .utool-left {
  display: flex;
}
