@font-face {
  font-family: "iconfont"; /* Project id 4145137 */
  src: url('//at.alicdn.com/t/c/font_4145137_q7k3zix8q7.woff2?t=1689495562154') format('woff2'),
       url('//at.alicdn.com/t/c/font_4145137_q7k3zix8q7.woff?t=1689495562154') format('woff'),
       url('//at.alicdn.com/t/c/font_4145137_q7k3zix8q7.ttf?t=1689495562154') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhixiangshang:before {
  content: "\e8f5";
}

.icon-zhixiangxia:before {
  content: "\e8f6";
}

.icon-mel-right:before {
  content: "\e654";
}

.icon-mel-left:before {
  content: "\e656";
}

.icon-tuite:before {
  content: "\e652";
}

.icon-facebook:before {
  content: "\eb8d";
}

.icon-Youtube-fill:before {
  content: "\ead1";
}

.icon-jianhao:before {
  content: "\e729";
}

.icon-xinxi:before {
  content: "\e611";
}

.icon-xiangxia:before {
  content: "\e633";
}

.icon-quxiao:before {
  content: "\e65c";
}

.icon-sousuo:before {
  content: "\e63d";
}

.icon-fangzi01-copy:before {
  content: "\e63e";
}

.icon-youjian:before {
  content: "\e680";
}

.icon-geren:before {
  content: "\e670";
}

.icon-caidan:before {
  content: "\eaf1";
}

.icon-guanbi:before {
  content: "\eaf2";
}

